<!DOCTYPE html>
<html>
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H0MJDLE6F9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-H0MJDLE6F9');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>ImmerSpeech</title>
</head>
<body>
  <div id="overlay" class="overlay">
      <div class="loader-container">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="loader">
      </div>
      <h3 id="statusMessage" class="statusMessage"></h3>

  </div><br>

  <div class="centered-container">
      <div class="controller">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="mainLogo">
          <h1>ImmerSpeech</h1>
          <br>
          <p>Welcome to our platform, upload a video to start dubbing.</p>
          <p>Select the source and target languages to get started. More languages on the way.</p>
          <br>
          <div class="tab-switcher">
            <button class="tab-btn" id="uploadTab" onclick="switchTab('video-upload')">Redub</button>
            <button class="tab-btn" id="historyTab" onclick="switchTab('history')">History</button>
            <button class="tab-btn" id="profileTab" onclick="switchTab('profile')">Profile</button>
          </div>

          <div class="tab-container" id="tab-container">
            <div class="tab-content active" id="video-upload">
              <label for="languageSelect" style="color: white;">Target Language:</label>
                <select id="languageSelect" name="target_language" class="dropdown" style="margin-bottom: 10px;">
                  <option value="enko">English to Korean</option>
                  <option value="enru">English to Russian</option>
                  <option value="enja">English to Japanese</option>
                  <option value="esko">English to Spanish</option>

                  <option value="koen">Korean to English</option>
                  <option value="ruen">Russian to English</option>
                  <option value="jaen">Japanese to English</option>
                  <option value="esen">Spanish to English</option>
                </select>
                
              <div class="input-option-container">
                <!-- Language Selector Dropdown -->
                <!-- Upload Form -->
                <form id="uploadForm" enctype="multipart/form-data">
                  <label for="user_prompt">Describe your translation context:</label>
                  <input type="text" id="user_prompt" name="user_prompt" class="prompt" required placeholder="Example: Translate this as a math lecture video">
                  <input type="file" id="videoInput" name="file" accept="audio/*,video/*" style="display: none" required>
                  <button type="submit" style="display: none">Upload</button>
                </form>
            
                <!-- Upload Button -->
                <button class="btn" id="vu-upload-btn">
                  <i class="fa fa-upload" style="font-size:36px;"></i>
                </button>
              </div><br>
            </div>

              <div class="tab-content" id="history">
                <h2>COMING SOON</h2>
              </div>

              <div class="tab-content" id="profile">
                <h2>COMING SOON</h2>
              </div>

          </div>
      </div>

      <div id="playerbox" class="player" style='display: none;'>
        <div id="audioContainer">
          <audio id="audioPlayer" controls>
              <source id="audioSource" type="audio/wav">
              Your browser does not support the audio element.
          </audio>
        </div>
        <p id="downloadInfo">Download the zip with dubbed audio and background tracks!</p>
        <button id="downloadAllBtn" class="btn">
          <i class="fa fa-download" style="font-size:36px;"></i>
        </button>
      </div>

  </div><br>
  
  <script type='text/javascript' src='{{ url_for("static", filename="js/scripts.js") }}'></script>
</body>
</html>