<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H0MJDLE6F9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-H0MJDLE6F9');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylelogin.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ImmerSpeech Login</title>
</head>
</div><br>

<div class="login-wrapper">
    <img src="{{ url_for('static', filename='logoblack.png') }}" alt="Logo" class="mainLogo" style="max-width: 20%; margin: 0px">
    <h1>ImmerSpeech</h1>
    <h2>Sign in to your account</h2>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <form method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    <p style="margin-top: 10px;">Don’t have an account? <a href="{{ url_for('signup') }}">Create one</a></p>

</div>
</html>